


$dark-overlay: rgb(28%, 56%, 60%);
$colHighlight   : #f58024;


nav {
  border-bottom: 3px solid rgb(255,255,255);
}

.login {
  border: thin solid rgb(96%, 1%, 1%)
}

#showcase {
  margin-top: 7em !important;
 
}


#short-description {
  margin-top: 3em !important;
}

.overlay {
  position: relative;
  top: 0;
  left: 0;
  background-attachment: fixed;
  color: $dark-overlay;
}






// .carousel-image-3 {
// background: url('../assets/images/2-person-intubation.jpg');
// background-size: cover;
// }


#opening-section {
  min-height: 50vh;
  font-family: 'Times New Roman', Times, serif;
   .important-numbers {
     line-height: 0.9;
     font-size: 110%;
     padding-left: 5em !important;
     font-family: Arial, Helvetica, sans-serif;
     background-color: blueviolet;
    // background-color: rgb(121, 105, 105);
   }
}

