@import 'header';


html {
  min-height: 100%;
}

// $bg-color: #fff;
// $font-color: black;
// $primary-color: rgb(76%, 15%, 18%);
// $info-background1: rgb(97%, 80%, 12%);
// $info-background2: rgb(26%, 26%, 26%); 

// $newbtn-color : rgb(97%, 1%, 1%);



// Generate Navbar
$navColor       : #001935;
$bgDefault      : #f8f8f8;
$bgHighlight    : #01090a;
$colDefault     : #f30e0e;
$colHighlight   : #f58024;
$colfallback    : #000;
$dropDown       : true;
.navbar {
  background-color: $bgDefault;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; 
    a {
      color: $colHighlight;
      &:hover, &:focus {
        color: $colHighlight; }}}
  .navbar-nav {
    .nav-link {
      color: $colDefault;
      border-radius: .25rem;
      margin: 0 0.25em;
      &:not(.disabled) {
        &:hover, &:focus {
          color: $colHighlight; }}}
    @if ($dropDown) {
      .dropdown-menu {
        background-color: $bgDefault;
        border-color: $bgHighlight;
        .dropdown-item {
          color: $colDefault;
          &:hover, &:focus, &.active {
            color: $colHighlight;
            background-color: $bgHighlight; }}
        .dropdown-divider {
          border-top-color: $bgHighlight; }}}
    .nav-item.active, .nav-item.show {
      .nav-link, .nav-link:hover, .nav-link:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .navbar-toggler-icon {
      color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
.navbar-expend .navbar-nav .show .dropdown-menu {
  .dropdown-item {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .dropdown-item.active {
    color: $colHighlight;
    background-color: $bgHighlight; }}

    // End of generated Navbar



    // Scroll css. navbrand not working
    // .navbar.scrolled {
    //    background-color: $colDefault; 
    //      .navbar-brand {
    //        color: $colfallback ;
    //       }
        
    
  

.navbar-custom {
  min-height: 15vh;
  // background-image: url(../assets/images/ecg.jpg);
  // background-size: cover;
   background-color: $navColor;
  
 
}





.navbar-text {
  font-size: 110%;
}

.byeline {
  margin-left: 15em;
  color: rgb(237, 3, 3);
}


.overlay {
  background-color: rgba(43, 42, 42, 0.9);
}

#main {
  min-height: 100vh;

   
}

.hero-image {
  background-image:  linear-gradient(rgba(54, 51, 51, 0.4), rgba(54, 51, 51, 0.4)), url(../assets/images/cpr-class.jpg);
  // background-image: url(../assets/images/cpr-class.jpg);
  background-size: cover;
  height:100vh;
  background-position: center;
  margin-top: 10vh;
}


.landing-page-content {
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
  
  h3{
  color: rgb(255, 255, 255);
  font-family: 'Lato', sans-serif;
  font-size: 42px;
  }
  
  p {
  color:rgb(255, 255, 255);
  font-size: 1.25rem;
  width: 45%;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  }
  
  .button {
  border:1px solid rgb(211, 205, 205);
  background: rgb(255, 255, 255);
  }
  
  // border: 2px solid black;
  }







// .title-text {
//    color: rgb(247, 3, 3);
// }


.card-img-top {
  width: 100%;
  height : 18vw;
  object-fit: cover;

}


 .cardinal-outline {

  h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 200%;
  }

  p {
    font-family: 'Lato', sans-serif;
    font-size: 110%;
    font-weight: 400;
    line-height: 130%
  }
 }



.blurb {
 
  min-height: 45vh;

  h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }

  p {
    // font-size: 120%;
    font-size: 100.5%;
    font-weight: 400;
    line-height: 130%;
    font-family: 'Lato', sans-serif;
  }
}

// .take-charge :after {
//   display: block; 
//   height: 2px;
//   background-color: orangered;
//   content: "";
//   width: 200px;
// }


.descriptive-cards{
  //  background-color: #f0f7ff;
  // background-color: rgb(46, 54, 63);
  background-color: $navColor;
  
}

.course-list {

  font-family: 'Lato', sans-serif;
}

.customer-support {
  // font-size: 120%;
  font-size: 112.5%;
  font-weight: 400;
  line-height: 130%;
  font-family: 'Lato', sans-serif;
}


.testimonial-text {

  h2, p {
    font-family: 'Lato', sans-serif;
  }

  h2 {
    font-size: 112.5%;
    font-weight: 400;
    line-height: 130%;
  }
  }


  .contact-section, .staff-section {
    font-family: 'Lato', sans-serif;

  }




















#home-section {

  // margin-top: 50px; //debugging
  // padding: 100px; //debugging
  min-height: 45vh;
  background-attachment: fixed; 
  background: url(/../assets/emergency-responders.jpg);
  // object-fit: scale-down;
  // background-position: right 55% top 25%;
  background-repeat: no-repeat;
  border-bottom: 2px solid red; //for debugging
  // min-height: 100%;
}



.home-inner {
  padding-top: 150px;
}




.form-group textarea {
  min-height: 7rem;
}


h4 {
  padding-left: 0;
}

ul {
  padding-left: 1em;
}



.list-section, .logo-section {
  // background-color: rgb(28, 75, 129);
  background-color: rgb(13, 52, 97);;

}

.reach-us {
  // background-color: rgb(236, 249, 250);
  font-size: 90%;
}


.overview h4 , .archway {
  color: red;
}

// videoplay
#video-play {
  position: relative;
  top: 5vh;
  min-height: 200px;
  text-align: center;
  color: black;
  padding-top: 100px !important;
}


// FAQ

#faq {
  margin-top: 10em !important;

  a {
    color: darkgray;
  }
}

 
  
